body {
font-family: Arial, sans-serif;
margin: 0;
background: #f9f9f9;
}


header {
background: #000;
color: #fff;
padding: 15px;
display: flex;
justify-content: space-between;
}


nav a {
color: gold;
margin: 0 10px;
text-decoration: none;
}


.hero {
text-align: center;
padding: 60px;
}


.products {
display: flex;
justify-content: center;
gap: 20px;
}


.card {
background: white;
padding: 15px;
width: 200px;
text-align: center;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.card img {
width: 100%;
height: 180px;
object-fit: cover;
}


/* LOGIN */
.login-body {
background: linear-gradient(135deg, #000, #444);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


.login-box {
background: white;
padding: 30px;
text-align: center;
width: 320px;
border-radius: 10px;
}
.logo {
width: 80px;
}


.login-box input {
width: 100%;
padding: 10px;
margin: 10px 0;
}


.btn {
display: block;
background: black;
color: gold;
padding: 10px;
text-decoration: none;
margin-top: 10px;
}
/* HERO BANNER IMAGE */
.hero {
  position: relative;
  text-align: center;
}

.hero-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 10px;
}
.card {
  background: white;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.add-cart {
  flex: 1;
  background: white;
  color: #6b7b59;
  border: 1px solid #6b7b59;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.buy-now {
  flex: 1;
  background: #6b7b59;
  color: white;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.add-cart:hover {
  background: #6b7b59;
  color: white;
}

.buy-now:hover {
  opacity: 0.9;
}


